@charset "UTF-8";

/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
}

#mySketch {
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 250px;
  border: 2px black solid;
}

header {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h1 {
  margin: 25px 0px 5px 0px;
  font-size: 25pt;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu Mono', monospace;
}

#col1 {
  float: left;
  width: 50%;
  margin-top: 40px;
}

#col2 {
  float: left;
  width: 50%;
  margin-top: 40px;
}
#col3{
  float: left;
  width: 50%;
  margin-top: -220px;
}
.category{
  font-size: 18pt;
  padding: 30px 0px 10px 0px;
  text-decoration: underline;
}
.headline{
  margin: 25px 0px 5px 0px;
  padding: 10px 15px 10px 15px;
  font-size: 25pt;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  background-color: black;
  text-align: center;

}

h2 {
  padding: 0px 0px 30px 0px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
}

li {
  padding: 0px 0px 10px 10px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 13pt;
}

li a {
  text-decoration: none;
  color: black;
}

i {
  float: left;
  padding-left: 10px;
}

footer {
  padding: 20px 0px 10px 0px;
  background-color: black;
  position: fixed;
  width: 100%;
  max-width: 800px;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer li {
  float: left;
  padding-left: 17%;
}

a:hover {
  text-decoration: line-through;
}
h3{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16pt;
  padding: 20px 0px 8px 0px;
}
p{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12pt;
  padding: 5px;
  line-height: 18px;
}
figcaption{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12pt;
  padding: 1px 0px 10px 0px;
}

img{
  padding: 20px 0px 10px 0px;
}
