
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size:100%;
  overflow:hidden;
}

/* new css */

/* Add animation (Standard syntax) */

/* Display the page when targeted */
.page:target {
  position: absolute;
  display: block;
  animation-duration: 0.5s;
}

.page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%; /* so background does not show with animation */
  width: 100%;
  color:#333;
  display:none;
}

nav {
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
  font-size:1.5em;
}

li {
  list-style-type:none;
}

nav a {
  width:1in;
  padding:16px;
  margin-bottom:4px;
  color:white;
  text-decoration: none;
  display:inline-block;
}

nav a:hover {
  color: #7FFFD4;
}




#canvas{
  height: 300px;
  width: 900px;
  margin-left:20%;
}
#bar{
  position: fixed;
  top: 33%;
  left: 3%;
}
#sadOverlay{
position: fixed;
display: none;
z-index: 1;
top: 600px;
left: 100px;
}

#navigation{
  color: white;
  font-size: 15pt;
  position: fixed;
  top:30%;
  left: 7%;

}
#navigation li{
  padding-bottom: 20px;
  font-weight: 700;
}
#header{
  position: fixed;
}

#page1{
  background-color: #F25757;
}

#page2{
  background-color: #83bca9;
}
#page3{
  /**background-color: #e87ea1;**/
  background-color: #d17fc0;
}
#page4{
  background-color: #ebb3a9;
}

#page2 h1{
  font-size: 25pt;
  color: black;
  text-decoration: line-through;
}
#page3 h1{

}
#page3hr{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 27%;
  margin-left: 21%;
  margin-bottom: 2px;
}
#seeyourself{
  color: #7FFFD4;
  margin-left: 21%;
font-size: 34pt;
  font-weight: 700;
}
#inthefilters{
  margin-left: 35%;
  font-size: 23pt;
  font-weight: 700;
  font-family: 'Nothing You Could Do', cursive;

}
#mooder{
  animation-name: mooder;
  animation-duration: 2s;
}
@keyframes mooder {
  from{transform: translate(-200px)}
    to{transform: translate(0px)}
}


#webcamHeading{
  margin-top: 1%;
  transition: 5s;
  animation-name: moveHeading;
  animation-duration: 2s;
}
@keyframes moveHeading {
  from{transform: translate(-200px)}
    to{transform: translate(0px)}
}
#page4 h1{
  font-size: 25pt;
  color: white;
}

#overlay {
  filter : hue-rotate(90deg); /*IE*/
position: fixed;
right: 10px;
top: 100px;



}
input[type=button] {
    background-color: #fcf8c2;
    border: none;
    border-radius: 50%;
    color: black;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    margin: 4px 10px;
    width:72px;
    height: 72px;
    cursor: pointer;
    text-align: center;
}
input[type=button]:hover{
  background-color: #7FFFD4;
}
#container {
  margin: 1% 0 0 7%;
}

#videoel{
  /**margin-left: 11%;
  margin-top: 5%;**/
  position: fixed;
  top: 17%;
  right: 40%;
}

#content {
  margin-left: 7%;
  margin-top: 3%;
  width: 93%;
}
.btn {
  font-size: 16px;
}

#controls {
  position: fixed;
  top: 75%;
  left: 23%;
}
#startbutton, #sadFilter, #hueFilter, #clear, #fullscreen {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 700;
}

#emotion_container {
  position: fixed;
  bottom: 12%;
  right: 3%;
}


#emotion_icons {

  height: 50px;
  padding-left: 40px;
}

.emotion_icon {
  position: fixed;
  width : 80px;
  height : 80px;
}

#emotion_chart, #emotion_icons {
  width : 40%;
  color: white;
}
#emotion_chart{
  display: none;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
  visibility : hidden;
}
#header p{
  font-size: 12pt;
  font-weight: 700;
  margin-left: 41%;
  margin-right: 10%;
  padding-top: 12px;
  padding-bottom: 10px;
  line-height: 18px;
  color: black;
}

#header h1{
  color: #68D0FF;
  font-size: 55pt;
  font-weight: 700;
  margin-left: 41%;
}
#moodText{
  font-size: 15pt;
  font-weight: 700;
  display: none;
}
#mooderhr{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 45%;
  margin-left: 41%;

}


footer {
  padding: 8px 0px 8px 0px;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 5%;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer li {
  float: left;
  padding-left: 17%;
}
