html{
  height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  width:100%;
  height: 100%;
}

#canvas{
  height: 300px;
  width: 85%;
  margin-left: 100px;
}

.main .page1{
  background-color: #F25757;
    }
.main .page2{
  background-color: #83bca9;
}
.main .page3{
  background-color: #e87ea1;
}
.main .page4{
  background-color: #ebb3a9;
}

.main .page2 h1{
  font-size: 30pt;
  color: black;
  text-decoration: line-through;
}
.main .page3 h1{
  font-size: 30pt;
  color: #fff9aa;
}
.main .page4 h1{
  font-size: 30pt;
  color: white;
}

#overlay {
  filter : hue-rotate(90deg); /*IE*/
  position: fixed;

}
input[type=button] {
    background-color: #d7a0ff;
    border: none;
    border-radius: 10%;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 10px;
    width:130px;
    cursor: pointer;
}
#container {
  margin: 0 7% 0 7%;

}

#content {
  margin-left: 7%;
  margin-top: 3%;
  width: 93%;
}
.btn {
  font-size: 16px;
}

#controls {
  text-align : center;
  bottom: 100px;
  left: 7%;
}

#emotion_container {
  bottom: 12%;
  right: 7%;
}

#emotion_icons {
  height: 50px;
  padding-left: 40px;
}

.emotion_icon {
  width : 40px;
  height : 40px;
  margin-top: 5px;
  padding:0px 35px 0px 0px;
}

#emotion_chart, #emotion_icons {
  width : 40%;
  color: white;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
  visibility : hidden;
}
p{
  font-size: 12pt;
  font-weight: 700;
  margin-left: 40%;
  margin-right: 13%;
  padding-top: 12px;
  padding-bottom: 10px;
  line-height: 18px;
}

h1{
  color: #68D0FF;
  font-size: 55pt;
  margin-left: 40%;
  font-weight: 700;
}
hr{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 45%;
  margin-left: 40%;
}
header{
  margin-top: 30px;
}

footer {
  padding: 20px 0px 10px 0px;
  background-color: black;
  position: fixed;
  width: 100%;

  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer li {
  float: left;
  padding-left: 17%;
}
